table.snapshot-diff {
  border-spacing: 4px;
  table-layout: fixed;
  width: 100%;
}
table.snapshot-diff tr.even, table.snapshot-diff tr.odd {
  background-color: inherit;
  border: none;
}

td.diff-deletedline {
  background-color: #ffa;
  width: 50%;
}
td.diff-addedline {
  background-color: #afa;
  width: 50%;
}
td.diff-context {
  background-color: #fafafa;
}
span.diffchange {
  color: #f00;
}

table.snapshot-diff col.diff-marker {
  width: 1.4em;
}
table.snapshot-diff col.diff-content {
  width: 50%;
}
table.snapshot-diff th {
  padding-right: inherit;
}
table.snapshot-diff td div {
  overflow: auto;
  padding: 0.1ex 0.5em;
  word-wrap: break-word;
}
table.snapshot-diff td {
  padding: 0.1ex 0.4em;
}

table.snapshot-diff td.diff-deletedline, table.snapshot-diff td.diff-addedline, table.snapshot-diff td.diff-context {
  font-family: "Bitstream Vera Sans", "Andale Mono", "Courier New", Courier, monospace;
  font-size:11px;
  white-space:pre;
}
table.snapshot-diff td.diff-context {
  color:#999;
}

table.snapshot-diff tr.snapshot-diff-caption th label {
  font-weight: bold;
}

table.snapshot-diff tr.snapshot-diff-caption,
table.snapshot-diff tr.snapshot-diff-caption th {
  background-color:transparent;
  border-top:0;
}

table.snapshot-diff tr.snapshot-diff-caption th {
  padding-left: 0px;
}

table.snapshot-diff tr.odd, table.snapshot-diff tr.info {
  background-color:transparent;
}

/* Admin detail interface */
#snapshot-admin-diff {
  clear: both;
}

.snapshot_detail_wrapper {
  clear: both;
}
.snapshot_detail_current {
  width:46%;
  float: left;
}

.snapshot_detail_compare {
  width: 30%;
  float: right;
}

#edit-compare-with-wrapper {
  float: left;
  height: 30px;
}

#edit-switch-compare {
  margin-left: 5px;
  margin-top: 17px;
  float: left;
}

.compare_desc_wrapper {
  clear: both;
}

.snapshot_compare_switch {
  padding-top: 20px;
}